@import url('reset.css');

/* /* typescale  */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400');

html {font-size: 100%;} /*16px*/

body {
  background: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: white;
  margin: 5%;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

small, .text_small{font-size: 0.833rem;}

#colour {
  display: flex;
  justify-content: center;
  align-items: center;
}

#square {
    width: 100px;
    height: 100px;
    background: white;
    margin:2%;
  }

  #square2 {
    width: 100px;
    height: 100px;
    background: black;
    border: solid;
    border-color: white;
    margin:2%;

  }

  #square3 {
    width: 100px;
    height: 100px;
    background: #0645AD;
    margin:2%;

  }




/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}